# KNN Imputer

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('train.csv', usecols= ['Age', 'Pclass', 'Fare', 'Survived'])

In [4]:
df.sample(4)

     Survived  Pclass   Age     Fare
652         0       3  21.0   8.4333
436         0       3  21.0  34.3750
760         0       3   NaN  14.5000
161         1       2  40.0  15.7500

## Checking null values

In [5]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

## X & Y

In [6]:
X = df.drop(columns = ['Survived'])
Y = df['Survived']

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 2)

In [8]:
X_train.sample(3)

     Pclass   Age     Fare
495       3   NaN  14.4583
642       3   2.0  27.9000
125       3  12.0  11.2417

## Apply KNN

In [58]:
knn = KNNImputer(n_neighbors=3, weights = 'distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

## Convert in Data Frame

In [59]:
pd.DataFrame(X_train_trf, columns = X_train.columns)

     Pclass        Age      Fare
0       1.0  40.000000   27.7208
1       3.0   4.000000   16.7000
2       3.0  47.000000    9.0000
3       3.0   9.000000   31.3875
4       3.0  20.000000    9.8458
..      ...        ...       ...
707     3.0  30.000000    8.6625
708     3.0  26.151292    8.7125
709     1.0  71.000000   49.5042
710     1.0  32.666667  221.7792
711     1.0  49.762895   25.9250

[712 rows x 3 columns]

In [60]:
pd.DataFrame(X_train_trf, columns = X_train.columns).sample(5)

     Pclass       Age     Fare
248     3.0  29.69757   6.8583
92      3.0  35.00000  20.2500
430     3.0  28.00000  15.8500
282     3.0  14.00000  46.9000
691     1.0  54.00000  77.2875

## Applying Logistic Regression

In [61]:
lr = LogisticRegression()
lr.fit(X_train_trf, Y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(Y_test, y_pred)

0.7150837988826816