# One Hot Encoding

In [69]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv("C:/Users/Mohd Rizwan/Downloads/Da Project/ML/Encoding/cars.csv")

In [71]:
df.info()
df.sample(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brand          8128 non-null   object
 1   km_driven      8128 non-null   int64
 2   fuel           8128 non-null   object
 3   owner          8128 non-null   object
 4   selling_price  8128 non-null   int64
dtypes: int64(2), object(3)
memory usage: 317.6+ KB

        brand  km_driven    fuel        owner  selling_price
6856  Hyundai      70000     LPG  First Owner         191000
6654  Hyundai      30000  Petrol  First Owner         700000
6880   Toyota      80000  Diesel  First Owner         450000

In [72]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [73]:
df['brand'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [74]:
df['brand'].nunique()

32

In [75]:
df['fuel'].nunique()

4

In [76]:

df['owner'].nunique()

5

In [77]:
pd.get_dummies(df, columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

In [78]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:4], df.iloc[:, -1], test_size = 0.2, random_state = 2)

In [79]:
x_train.head(4)

         brand  km_driven    fuel         owner
5571   Hyundai      35000  Diesel   First Owner
2038      Jeep      60000  Diesel   First Owner
2957   Hyundai      25000  Petrol   First Owner
7618  Mahindra     130000  Diesel  Second Owner

In [80]:
from sklearn.preprocessing import OneHotEncoder

In [81]:
ohe = OneHotEncoder(drop='first', sparse_output=False, dtype= np.int32)
#Since you've set sparse_output=False, the result of fit_transform is already a dense NumPy array. Simply remove .toarray()

### 1. The sparse Parameter
Default (sparse=True):
The OneHotEncoder returns a sparse matrix, which efficiently stores mostly-zero data. This is useful when you have a large dataset with many categories—only nonzero values (1's) are stored, saving memory.

### 2. The dtype Parameter
Purpose:
It sets the data type of the output array. By default, OneHotEncoder returns floats (typically np.float64).

Using dtype=np.int32:
This instructs the encoder to use 32-bit integers for the encoded values, which can be more memory-efficient and may match your model's input requirements.

In [82]:
x_train_new = ohe.fit_transform(x_train[['fuel','owner']])

In [83]:
x_train_new.shape

(6502, 7)

In [84]:
x_train_new

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [85]:
x_train[['brand','km_driven']].values, x_train_new

(array([['Hyundai', 35000],
        ['Jeep', 60000],
        ['Hyundai', 25000],
        ...,
        ['Tata', 15000],
        ['Maruti', 32500],
        ['Isuzu', 121000]], dtype=object),
 array([[1, 0, 0, ..., 0, 0, 0],
        [1, 0, 0, ..., 0, 0, 0],
        [0, 0, 1, ..., 0, 0, 0],
        ...,
        [0, 0, 1, ..., 0, 0, 0],
        [1, 0, 0, ..., 1, 0, 0],
        [1, 0, 0, ..., 0, 0, 0]]))

In [86]:
np.hstack((x_train[['brand','km_driven']].values, x_train_new))

array([['Hyundai', 35000, 1, ..., 0, 0, 0],
       ['Jeep', 60000, 1, ..., 0, 0, 0],
       ['Hyundai', 25000, 0, ..., 0, 0, 0],
       ...,
       ['Tata', 15000, 0, ..., 0, 0, 0],
       ['Maruti', 32500, 1, ..., 1, 0, 0],
       ['Isuzu', 121000, 1, ..., 0, 0, 0]], dtype=object)