# Fetching Data through TMDB API

In [138]:
import pandas as pd
import numpy as np
import requests
'''
Creds is not a library just to secure the api key as api is stored in this python file (creds.py), 
I can give it any name and using creds.variable_name to get it
'''
import creds

In [139]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1&api_key="+ creds.api_key)

In [140]:
df = pd.DataFrame(response.json()["results"])

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              20 non-null     bool
 1   backdrop_path      20 non-null     object
 2   genre_ids          20 non-null     object
 3   id                 20 non-null     int64
 4   original_language  20 non-null     object
 5   original_title     20 non-null     object
 6   overview           20 non-null     object
 7   popularity         20 non-null     float64
 8   poster_path        20 non-null     object
 9   release_date       20 non-null     object
 10  title              20 non-null     object
 11  video              20 non-null     bool
 12  vote_average       20 non-null     float64
 13  vote_count         20 non-null     int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 2.0+ KB

In [142]:
df.to_csv("Top_rated_movies_through_API.csv")

In [143]:
df.shape

(20, 14)

In [144]:
page = 1
df= pd.DataFrame()
url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page="+ str(page)
for i in range(1, 100):
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjNjczNTIyYjFjNTA1ZmZiNjNjZmU4ODA1N2NhYmYwOSIsIm5iZiI6MTczODc3NDM2Ni4yMzgwMDAyLCJzdWIiOiI2N2EzOTc1ZTdjODYwOTYwMjk4YTgxMGEiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.ObiNrEI2GC8TytA6z_Ub6-ReYygr_ioTgsZvwrXdONc"
    }
    
    response = requests.get(url, headers=headers)
    df = pd.concat([df, pd.DataFrame(response.json()['results'])[['id', 'title', 'release_date', 'overview', 'popularity', 'vote_average']]], ignore_index=True)

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1980 non-null   int64
 1   title         1980 non-null   object
 2   release_date  1980 non-null   object
 3   overview      1980 non-null   object
 4   popularity    1980 non-null   float64
 5   vote_average  1980 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 92.9+ KB

In [136]:
df.to_csv("Top_rated_movies_through_API.csv")